body {
  background-image: url("./assets/bg_001.jpg");
  background-attachment: fixed;
  background-size: cover;
  margin: 0% 10%;
  font-family: 'Work Sans', sans-serif;
  color: white;
}

                    /* nav */

nav {
  display: flex;
  margin: auto;
  justify-content: space-around;
}

nav ul {
  list-style-type: none;
  display: inline;
}

nav ul li {
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
  padding: 10px;
}

.icon {
  position: relative;
  left: 50px;
}
a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

nav a:hover {
  color: #4CAF50;
}

                    /* content */
.content {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin-top: 30px;
  align-items: center;
}

.content>div {
  display: inline;
}

                    /* text */
h1 {
  padding-top: 50px;
}

.txt {
  flex-flow: column;
  width: 400px;
}

.txt p {
  text-align: justify;
  line-height: 1.3em;
}

/*               -IMAGES */
.pic {
  position: relative;
  width: 50px;
  height: auto;
}

.p1, .p2 {
  position: absolute;
}

.p1 {
  top: -150px;
  right: 60px;
  z-index: 2;
}

.p2 {
  top: -130px;
  right: -50px;
}

img {
  width: 150px;
  height: auto;
}

button {
  width: 150px;
  height: 40px;
  margin-right: 10px;
  margin-top: 50px;
  padding: 5px;
  border: 0px;
  border-radius: 5px;
  letter-spacing: 2px;
  align-items: center;
  color: white;
  font-size: 15px;
  font-family: 'Work Sans', sans-serif;
}

.btn1 {
  background-color: #4CAF50;
}

.btn1:hover {
  background-color: #3e8e41;
}

.btn2 {
  background-color: #008CBA;
}

.btn2:hover {
  background-color: #007399;
}
